@charset "UTF-8";
/* VARIABLES */
body {
  background: #FFFFFF;
  background-color: #FFFFFF; }

/* BACKGROUNDS */
.ejie-backgrounds .ejie-front-shape2 {
  width: 2rem;
  height: 10%;
  background: #22acac;
  position: fixed;
  left: 0;
  top: 0; }

.ejie-backgrounds .ejie-front-shape1 {
  width: 100%;
  height: 2rem;
  background: #22acac;
  position: fixed;
  left: 0;
  top: 0; }

.ejie-backgrounds .ejie-front-footer-bg {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0; }

.ejie-backgrounds .ejie-shape2 {
  width: 2rem;
  height: 10%;
  background: #98d6d6;
  position: fixed;
  right: 60%;
  top: 40%; }

.ejie-backgrounds .ejie-shape1 {
  width: 60%;
  height: 2rem;
  background: #98d6d6;
  position: fixed;
  right: 0;
  top: 40%; }

.ejie-backgrounds .ejie-slides-header-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

.ejie-backgrounds .ejie-slides-shape1 {
  width: 100%;
  height: 2rem;
  background: #22acac;
  bottom: 7rem;
  position: fixed; }

.ejie-backgrounds .ejie-slides-shape2 {
  width: 60%;
  height: 2rem;
  right: 8%;
  background: #eaeaea;
  bottom: 12rem;
  position: fixed; }

.ejie-backgrounds .ejie-slides-shape3 {
  width: 2rem;
  height: 12rem;
  right: 8%;
  background: #eaeaea;
  bottom: 0;
  position: fixed; }

.ejie-backgrounds .ejie-slides-shape4 {
  width: 2rem;
  height: 4rem;
  right: 68%;
  background: #eaeaea;
  bottom: 10rem;
  position: fixed; }

/*COLORS*/
.reveal {
  font-size: 30px;
  margin-top: 6rem; }
  .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    color: #009898; }
  .reveal ul {
    list-style: none;
    /* Remove list bullets */
    padding: 0;
    margin: 0; }
    .reveal ul ul {
      list-style: none;
      /* Remove list bullets */
      padding: 0;
      margin: 0; }
      .reveal ul ul li {
        padding-left: 48px; }
      .reveal ul ul li:before {
        content: '■';
        /* Insert content that looks like bullets */
        padding-right: 8px;
        color: #009898;
        /* Or a color you prefer */ }
    .reveal ul li {
      padding-left: 16px; }
    .reveal ul li:before {
      content: "•";
      /* Insert content that looks like bullets */
      padding-right: 8px;
      color: #009898;
      /* Or a color you prefer */ }
  .reveal .img-logo {
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
    background: none;
    box-shadow: none;
    width: 14rem; }
  .reveal .ejie-title {
    position: fixed;
    left: 40%;
    padding-right: -6rem;
    top: 52%; }
  .reveal blockquote {
    color: grey; }

.ejie-color-1 {
  color: #009898; }

.ejie-color-2 {
  color: #98d6d6; }

.flex-content {
  display: flex; }

.mv-content > div {
  display: flex; }

.col-50 {
  width: 50%; }

.col-33 {
  width: 33%; }

.col-35 {
  width: 35%; }

.col-65 {
  width: 65%; }

.reveal section img.slide-img {
  border: 0; }

.mv-detail-row {
  width: 100%;
  height: 4em; }

.mv-detail-row span {
  font-size: 1.5rem; }

.mv-detail-row .fa {
  padding-right: 0.7rem; }

.mv-detail-row.one {
  padding-top: 2.7rem; }

.reveal .padding-top {
  padding-top: 2em; }

.hidden {
  visibility: hidden; }

.fragment.fade-out.hide.visible, .fragment.current-visible.hide:not(.current-fragment), .fragment.current-visible.visible.hide:not(.current-fragment) {
  display: none;
  height: 0px;
  line-height: 0px;
  font-size: 0px; }

.reveal .lg {
  font-size: 4rem; }

span.clouditem {
  padding-left: 0.15em;
  padding-right: 0.15em;
  line-height: 90%; }

.reveal section img.img-hover {
  border: 0;
  position: fixed;
  left:20%;
  width: 60%;
  box-shadow: none;
  background: none; }
