.reveal {
  font-size: 30px; }

/*COLORS*/
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  color: #009898; }

.ejie-color-1 {
  color: #009898; }

.flex-content {
  display: flex; }

.mv-content > div {
  display: flex; }

.col-50 {
  width: 50%; }

.col-33 {
  width: 33%; }

.col-35 {
  width: 35%; }

.col-65 {
  width: 65%; }

.reveal section img.slide-img {
  border: 0; }

.mv-detail-row {
  width: 100%;
  height: 4em; }

.mv-detail-row span {
  font-size: 1.5rem; }

.mv-detail-row .fa {
  padding-right: 0.7rem; }

.mv-detail-row.one {
  padding-top: 2.7rem; }

.reveal .padding-top {
  padding-top: 2em; }

.hidden {
  visibility: hidden; }

.fragment.current-visible.visible.hide:not(.current-fragment) {
  display: none;
  height: 0px;
  line-height: 0px;
  font-size: 0px; }

.reveal .lg {
  font-size: 4rem; }

span.clouditem {
  padding-left: 0.15em;
  padding-right: 0.15em;
  line-height: 90%; }

.reveal section img.img-hover {
  border: 0;
  position: fixed;
  top: 0;
  left: 0; }
